<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>


<form method="POST">
    <p>
     <input type="text" name="id" value="">
    </p>
    <p>
     <input type="text" name="pw" value="">
    </p>
    <p>
        <input type="text" name="address" value="">
    </p>
    <p>
        <input type="text" name="addressX" value="">
    </p>
        <input type="text" name="addressY" value="">

  <input type="submit" value="회원가입">
  </form>

  </body>
</html>
